# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# The Fuck
eval "$(thefuck --alias)"

# ZSH & Oh-My-Zsh
export ZSH="$HOME/.oh-my-zsh"

# shellcheck disable=SC2034
ZSH_THEME="agnoster"

zstyle ':omz:update' mode auto
zstyle ':omz:update' frequency 1

# shellcheck disable=SC2034
plugins=(
  brew
  chezmoi
  colorize
  command-not-found
  docker
  docker-compose
  gh
  git
  gradle
  macos
  pip
  python
  ssh
  sudo
  thefuck
  themes
  tldr
  vscode
  xcode
  zsh-autosuggestions
  zsh-syntax-highlighting
)

source "$ZSH/oh-my-zsh.sh"

alias zshconfig="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"

# Common
export LC_ALL=en_US.UTF-8
export PATH="$HOME/bin:$PATH"

# Android SDK
export ANDROID_SDK_ROOT="/opt/homebrew/share/android-commandlinetools"
export PATH="$ANDROID_SDK_ROOT/platform-tools:$PATH"

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"

# Ruby
export PATH="/opt/homebrew/opt/ruby/bin:$PATH"

# GPG
# shellcheck disable=SC2155
export GPG_TTY=$(tty)

# jEnv
export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"

for file in "$HOME"/.local/share/chezmoi/function/macos/*.sh; do
  [ -e "$file" ] || continue
  # shellcheck disable=SC1090
  source "$file"
done
