# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${USER}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${USER}.zsh"
fi

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# Zinit
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"

for plugin in git ssh sudo; do
  zinit snippet OMZP::$plugin
done

OMZ_PLUGINS=(
  brew
  chezmoi
  colorize
  command-not-found
  docker
  docker-compose
  gh
  gradle
  pip
  python
  thefuck
  themes
  tldr
  vscode
  xcode
)

for plugin in "${OMZ_PLUGINS[@]}"; do
  zinit ice wait lucid
  zinit snippet OMZP::$plugin
done

THIRD_PLUGINS=(
  zsh-users/zsh-autosuggestions
  zsh-users/zsh-history-substring-search
  zsh-users/zsh-syntax-highlighting
)

for plugin in "${THIRD_PLUGINS[@]}"; do
  zinit ice wait lucid
  zinit light $plugin
done

zinit for \
  atload"zicompinit; zicdreplay" \
  blockf \
  lucid \
  wait \
  zsh-users/zsh-completions

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

zinit ice depth=1
zinit light romkatv/powerlevel10k
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Aliases
alias zshconfig="code ~/.zshrc"

# Common
export LC_ALL=en_US.UTF-8
export PATH="$HOME/bin:$PATH"

# Android SDK
export ANDROID_SDK_ROOT="/opt/homebrew/share/android-commandlinetools"
export PATH="$ANDROID_SDK_ROOT/platform-tools:$PATH"

# Fast Node Manager (fnm)
eval "$(fnm env --use-on-cd --shell zsh)"

# Ruby
export PATH="/opt/homebrew/opt/ruby/bin:$PATH"

# GPG
# shellcheck disable=SC2155
export GPG_TTY=$(tty)

# jEnv
export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"

# depot_tools
[[ ":$PATH:" != *":$HOME/.depot_tools:"* ]] &&
  export PATH="$HOME/.depot_tools:$PATH"

# macOS specific functions
if [[ "$OSTYPE" == darwin* ]]; then
  for file in "$HOME"/.local/share/chezmoi/function/macos/*.sh; do
    [ -e "$file" ] || continue
    source "$file"
  done
fi
