#!/usr/bin/env fish

set -l cleanup_targets \
    ~/.config/fish/{conf.d,functions}/ \
    ~/.config/ghostty/ \
    ~/.config/orchard/

for target in $cleanup_targets
    test -e "$target"; or test -L "$target"; or continue

    for path in (chezmoi unmanaged "$target"; or true)
        rm -rf -- "$HOME/$path"
    end
end
