#!/usr/bin/env fish

source $HOME/.config/fish/functions/fish-reload.fish
fish-reload

# macOS
{{ if eq .chezmoi.os "darwin" -}}
brew-update
if test -d "$HOME/Library/Rime"
    echo "🔤 Updating Rime configurations..."
    update-git-repo "$HOME/Library/Rime"; or echo "❌ Failed to update $HOME/Library/Rime"
    cp -fv "$HOME"/.local/share/chezmoi/rime/*.custom.yaml "$HOME/Library/Rime/"
end
{{ end -}}

# Ubuntu 24.04
{{ if eq (index .chezmoi.osRelease "id") "ubuntu" -}}
if command -q snap
    echo "🐧 Updating Snap packages..."
    sudo snap refresh
end
{{ end -}}

command -q fnm; and fnm-upgrade-latest-lts

echo "✅ All upgrades completed!"
